# AppVeyor CI build file, https://ci.appveyor.com/project/odinserj/hangfire

# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Please don't edit it manually, use the `build.bat version` command instead.
version: 0.7.0-build-0{build}

image:
  - Visual Studio 2022
  - Ubuntu

environment:
  SIGNPATH_ORGANIZATION_ID:
    secure: CVHhLK+O9L5tClnMj1FRK9monnVBhtGYdXZbX52Fo2WvxJ9h5L5j96NrXi9k7+Fg
  SIGNPATH_API_TOKEN:
    secure: gHJ9TRVbtow8s1pvgKnuOsHuZ9N8vye+513e60fqbvHmyyT3yzXQiL59T/x64/8k

#---------------------------------#
#       build configuration       #
#---------------------------------#

before_build:
  - ps: Install-Module -Name SignPath
  - sh: nuget locals all -clear

build_script:
  - cmd: build.bat sign
  - sh: dotnet test -c Release -f netcoreapp3.1
  - sh: dotnet test -c Release -f net6.0

#---------------------------------#
#       tests configuration       #
#---------------------------------#

test: off

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: 'build\**\*.nupkg'
  - path: 'build\**\*.zip'

deploy:
  - provider: NuGet
    api_key: 
      secure: sE88DSEBBhC+hDgI1+JICzwWjwwmxSyNEWfUjED6ZAs6f9oDD85V0qpbGLWBn+gL
    on:
      appveyor_repo_tag: true
